<nav>
  <ul>
    <li><a class='navbar' href='/auth/logout'>LOGOUT</a></li>
    <li><a class='navbar' href='/todos'>TO DOS</a></li>
    <li><a class='navbar' href='/user'>PROFILE</a></li>
    <li><a class='navbar' href='/'>HOME</a></li>
  </ul>
</nav>

