<% include ./partials/boilerplate %>

<div class='welcome'>
  <div class='homepage'>
    <h1><%= subTitle %></h1>
     <div class='logbutton'>
       <button><a href='/auth/login'>LOGIN</a></button>
       <button><a href='/auth/register'>REGISTER</a></button>
     </div>
  </div>
</div>


<% include ./partials/end %>

